<section class='mt-12 sm:mt-10 md:mt-16 sm:m-4 md:m-8'>
    <h3 class="my-4 text-center text-2xl sm:text-3xl lg:text-5xl font-bold uppercase ">Add Article</h3>
    <p class="text-center sm:mx-28 md:mx-40 lg:mx-60 px-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
      error amet numquam iure provident voluptate esse quasi, veritatis
      totam voluptas nostrum quisquam eum porro a pariatur veniam.
    </p>
  </section>

  <div class='max-w-[95%] md:max-w-[90%] lg:max-w-[85%] m-auto mb-10 md:mb-28 mt-6'>
    <section class='grid sm:grid-cols-2 gap-6'>
      <div class='m-auto '>
        <img src="../../../assets/user-icon.png" alt="profile" class="w-52 h-52 mt-10 sm:mt-0 sm:w-80 sm:h-80" />
      </div>

      <form class='p-4 flex flex-col gap-4 sm:gap-0 m-auto sm:m-0' (ngSubmit)="submitAddArticle($event)">

        <div class='flex flex-col'>
          <span class="text-gray-500">Author Id</span>
          <input class="pl-2 border border-gray-300 py-2 mt-1 rounded-md max-[350px]:w-48 w-72 md:w-80" type='text' 
          value={{addArticle.author}} disabled />
        </div>

        <div class='flex flex-col'>
          <span class="text-gray-500">Title</span>
          <input class="pl-2 border border-gray-300 py-2 mt-1 rounded-md max-[350px]:w-48 w-72 md:w-80" type='text' value={{addArticle.title}} name="title" placeholder="Add title upto 20 letters" maxlength="20" [(ngModel)]="addArticle.title"/>
        </div>
        
        <div class='flex flex-col'>
          <span class="text-gray-500">Description</span>
          <textarea class="pl-2 border border-gray-300 py-2 mt-1 rounded-md max-[350px]:w-48 w-72 md:w-80" type='text' value={{addArticle.description}} maxlength="100" name="description" placeholder="Add description upto 100 letters" [(ngModel)]="addArticle.description" onkeypress="return event.keyCode != 13;">
          </textarea>
        </div>

        <div>
          <button type="submit" class='max-[350px]:w-48 w-72 md:w-80 rounded-md py-2 mt-6 bg-green-500 text-white'>Submit</button>
        </div>
        

      </form>

    </section>
  </div>